<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AutoServis360Database"
			 connectionString="Server=(localdb)\NemocniceDB;Database=YourDatabaseName;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>
